button{
  position: absolute;
  left: 170px;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgb(240, 233, 238) 49%, rgba(252,176,69,1) 100%);
font-size:25px;
height:100px;
width: 600px;
color: rgb(15, 15, 15);
}
.myBtn{

  width: 100px;
  position: relative;
  left:310px;
  top:300px;

}

button:visited{
 visibility:hidden;
}
.whole{
position:absolute ;
top:-30vw;

}
.fullName{
  background-color: rgba(207, 87, 240, 0.485);
  position: absolute;
  width: 1046px;
font-size:60px;
left: 180px;
top:223px;
text-align: center;
font-family: 'Courier New', Courier, monospace;
}
.bio{
  position: absolute;
  width: 1046px;
font-size:60px;
left: 180px;
text-align: center;
  top:443px;
 font-family: 'Courier New', Courier, monospace;
 background-color: rgba(253, 253, 253, 0.305);
 
}
.imgSrc{
position: absolute;
top:120px;
left:-320px;
}
.prof{
  text-align: center;
  font-size:60px;
  position: absolute;
 
  top:662px;
  width: 1046px;
  font-size:60px;
  left: 180px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(249, 249, 249, 0.146);
 }
